<h1> Movie #<%= Movie.where({:id => @movie_id }).at(0).id %> details </h1>

<a href="/movies"> Go back </a>

<hr>

<dl>
  <dt> Title </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).title %> </dd>

  <dt> Year </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).year %> </dd>

  <dt> Duration </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).duration %> </dd>

  <dt> Description </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).description %> </dd>

  <dt> Image </dt>
  <dd> <img src ="<%= Movie.where({:id => @movie_id }).at(0).image %>" style ="width:250px;"> </dd>

  <dt> Director </dt>
  <dd> 
    <% @movie_director_id = Movie.where({:id => @movie_id}).at(0).director_id %>
    <%= Director.where({:id => @movie_director_id }).at(0).name %> 
  </dd>

  <dt> Created at </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).created_at %> </dd>

  <dt> Updated at </dt>
  <dd> <%= Movie.where({:id => @movie_id }).at(0).updated_at %> </dd>

</dl>

<hr>
